.git
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
tests
playwright-report
Project/ykp-dashboard/node_modules
Project/ykp-dashboard/vendor
Project/ykp-dashboard/storage/logs
Project/ykp-dashboard/storage/framework/*
Project/ykp-dashboard/tests
Project/ykp-dashboard/playwright-report
