# 불필요한 디렉터리 제외
*/node_modules/
*/vendor/
*/storage/logs/
*/storage/framework/
*/bootstrap/cache/
*/tests/
*/playwright-report/
*/.env
*/.env.*
!*/.env.example
*/tmp/
*/.tmp/
*/.git/

# 기타 OS/에디터 파일
.DS_Store
Thumbs.db
*.log
*.tmp